.github_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_avatar {
  text-align: center;
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}

.profile_image {
  width: 100%;
  border-radius: 50%;
  border: 8px solid var(--blue);
}

.profile_name {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--white);
}

.profile_login {
  font-family: "Courier New", Courier, monospace;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.date_wrapper {
  color: var(--text-silver);
  margin: 1.25em 1em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  margin: 0 16px 8px;
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.profile_location {
  text-transform: uppercase;
}

.profile_brief {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  margin-top: 1em;
}

.card {
  padding: 1em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.04);
}

.card {
  text-transform: uppercase;
}

.number {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}

.label {
  margin-top: 1em;
  color: rgba(200, 225, 255, 0.7);
  font-size: 0.75rem;
  font-weight: 400;
}

.space-1 {
  letter-spacing: var(--space-1);
}

.space-2 {
  letter-spacing: var(--space-2);
}

.space-3 {
  letter-spacing: var(--space-3);
}

.capitalized {
  text-transform: capitalize;
}
