footer {
  padding: 3rem;
}
footer .footer_list,
footer .footer_list_item {
  display: inline-block;
}

footer .footer_list {
  margin: 0 0.5rem;
}
footer .footer_list_item:not(:first-child)::before {
  content: "\00bb";

  margin: 0 0.5rem;
}

footer p {
  font-weight: 700;
  color: rgb(88, 96, 105);
  font-size: 0.9rem;
}

footer a {
  color: var(--blue);
}
